extend layout

block content
    //script(src="/javascripts/chat.js")
    #game-chat
        #chat-window
            #output
        input#username(type="text", placeholder="Username")
        input#message(type="text", placeholder="Message")
        button#send Send