extend layout

block content
    script(src="/javascripts/landingPage.js")
    h1 Welcome to the game!

    br
    br

    p Please login or register to play.

    button#login Login
    br
    button#register Register