doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(src="/javascripts/score.js")
    // chat.js should be moved to where it's needed. Here it's global. Same goes for score.js.
    script(src="/javascripts/chat.js")
  body
    block content
