extend layout

block content
    script(src="/javascripts/login.js")
    h1 Please login or register a new user
  
    br
    br
  
    input#username(type="text", placeholder="Username")
    input#password(type="text", placeholder="Password")
    button#login.btn() Login

    br
    br

    div#message