extends layout

block content
  script(src="../javascripts/mainMenu.js")
  div#game-container
    h1 Main Menu
    h2 
      em Notice!
    p If you are running the game for the first time, then you should take a little to time to make a couple of rooms.
    p The first room should be named 
      em 
        strong "Start Room". 
    p These rooms are what's being played in the game.

    br

    h3 Create rooms to play in the game!
    button#create-room Create rooms

    br
    br

    h3 Play the game!
    button#game Play game