extend layout

block content
    script(src="/javascripts/register.js")
    h1 Register new user
  
    br
    br
  
    input#username(type="text", placeholder="Username")
    input#password(type="text", placeholder="Password")
    button#register.btn() Register

    br
    br

    div#message